Trash
APOE4_haplotypes_inVCF_order.txt
APOE_haplotypes_and_rfmix_APOElocal_AFR_estimates.txt
APOE_LDregion_AFR.txt
structure.out_ancestry_proportion_raceDemo_compare.txt
APOE_haplotypes_and_rfmix_APOElocal_AFR_estimates.txt
*ancestry
*AFR

